* {
    margin: 0;
    padding: 0;
  }
  .profile-card {
    background-color: orange;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 25%;
    margin-top: 20px;
    padding: 10px;
    box-shadow: inset;
    width: 50%;
  
  }
  
  .contents {
    padding-left: 2.5%;
  }