* {
    margin: 0;
    padding: 0;
  }

  .container{
    display: flex;
    flex-direction: column;
  }
  .basic-card {
    display: flex;
    flex-direction: row;
  }
  
  .profile-contents {
    padding-left: 2.5%;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  .view-btn {
    float: right;
    margin-right: 10px;
  }
  